einops
mlflow
opencv-python
pytorch-lightning==1.5.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.10.0+cu113
-f  https://download.pytorch.org/whl/torch_stable.html
torchvision==0.11.1+cu113
tqdm
yacs
